// Styling for the download section
section.expertise {
    position: relative;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }

    svg {
      margin: 25px;
    }
    .row {
      margin-top:  30px;
    }
    .item{
      
    }
}
