// Styling for the features section
body {
  color: white;
  background: url('../images/bg-pattern.png'), $theme-secondary;
  background: url('../images/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
  background: url('../images/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);

  hr {
    border-color: white;
  }

  img{
    margin-bottom: 10px;
    height: 100px;
  }

  div{
    padding-top: 15%;
    width: 100%;
    height: 300px;
    text-align: center;
  }

}
